:root {
  font-size: 62.5%;

  --font: 'Inter', sans-serif;
  --text-color: #ffffff;
  --background-color: #14161c;
  --border-color: #585858;
  --key-bg-color: #818384;
  --alert-error-bg-color: #ba4747;
  --alert-error-text-color: #5f0f1d;
  --wrong-position-letter-color: #b59f3b;
  --right-letter-color: #538d4e;
  --wrong-letter-color: #585858;
}

body {
  height: 100vh;
  background-color: var(--background-color);
}

body * {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--font);
}

header {
  padding: 2.2rem 7rem 1.4rem;
  border-bottom: 1px solid var(--border-color);
}

.main {
  padding-top: 11.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.8rem;
}

.grid {
  display: grid;
  gap: 5px;
}

.grid__line {
  display: flex;
  gap: 5px;
}

.grid__cell {
  width: 6.2rem;
  height: 6.2rem;

  border: 1px solid var(--border-color);

  font-size: 3.8rem;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.keyboard__row {
  display: flex;
  gap: 5px;
}
.keyboard__key {
  padding: 1.6rem 1.3rem;

  font-size: 2.2rem;
  text-transform: uppercase;

  background-color: var(--key-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  cursor: pointer;
}

.keyboard__key--Enter {
  padding: 1.8rem 1.3rem;

  font-size: 1.7rem;
}

.keyboard__key--Delete {
  padding: 1.7rem 0.9rem;
}

.alert-error {
  font-size: 1.6rem;
  font-weight: 700;
  width: fit-content;

  background-color: var(--alert-error-bg-color);
  color: var(--alert-error-text-color);

  padding: 0.9rem 1.2rem;

  border-radius: 10px;

  position: absolute;
  top: 12.8rem;
  left: 50%;

  transform: translateX(-50%);

  opacity: 0;
  visibility: hidden;

}

.alert-error.open {
  opacity: 1;
  visibility: visible;
}
